/* ---------------------------------- */
/* Global Styles                      */
/* ---------------------------------- */

/* Fonts */
/* ---------------------------------- */

@font-face {
  font-family: 'ITCFranklin';
  src: url("../fonts/ITCFranklin/regular/0abd7f14-8c3c-4155-9a09-0d9c4cedde75.eot");
  src: url("../fonts/ITCFranklin/regular/0abd7f14-8c3c-4155-9a09-0d9c4cedde75.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ITCFranklin/regular/6bc9525d-3c1f-4dbf-a165-dbfef48f568a.woff") format("woff"), 
       url("../fonts/ITCFranklin/regular/80ee6242-7f06-4662-a846-9682796a3ac4.ttf") format("truetype"), 
       url("../fonts/ITCFranklin/regular/51dff000-f25d-446b-8ca1-14b2df66b617.svg#ITCFranklin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinBold';
  src: url("../fonts/ITCFranklin/bold/89a788d9-80ed-4381-84ab-251ee93161c9.eot");
  src: url("../fonts/ITCFranklin/bold/89a788d9-80ed-4381-84ab-251ee93161c9.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/ITCFranklin/bold/3e77d886-2cf7-48f4-920e-67d26866af81.woff") format("woff"), 
       url("../fonts/ITCFranklin/bold/9068d907-49f7-45af-a2fb-265bcad4e537.ttf") format("truetype"), 
       url("../fonts/ITCFranklin/bold/8f045a5d-9fd6-4864-a449-068bbcf36c75.svg#ITCFranklinBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
       url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), 
       url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.4.0') format('woff'), 
       url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), 
       url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Base Styles */
/* ---------------------------------- */

body {
	background: white;
	color: #333333;
	/*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
	font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;
	line-height: 1.4;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Mercury SSm A", "Mercury SSm B", Georgia, "Times New Roman", Times, serif;
	line-height: 1.4;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	color: #1c1c1c;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}

a {
	color: #2952a3;
}

a:hover, a:focus {
	color: #24488f;
}

ul,
ol,
dl {
	font-family: inherit;
	font-size: 14px;
	line-height: 1.6;
	list-style-position: outside;
	margin-bottom: 1.25rem;
}

input, button, select, textarea {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 22px;
	}
	
	h4 {
		font-size: 18px;
	}
}

/* Misc., Utilities */
/* ---------------------------------- */

.page-container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}

.row {
	max-width: 960px;
}

.content {
	position: relative;
}

@media screen and (max-width: 640px) {
	
	.content {
		padding: 0 15px;
	}
}

.caption-accent {
	color: #ffc600;
}

@media screen and (max-width: 640px) {
	.caption-accent {
		color: #1c1c1c;
	}
}

.x-large-header {
	font-size: 48px;
}

@media screen and (max-width: 640px) {
	.x-large-header {
		font-size: 28px;
	}
}

.drop-cap {
	float: left;
	display: inline-block;
	vertical-align: top;
	font-size: 350%;
	line-height: 75%;
	padding-right: 10px;
}

.content-title {
	margin-bottom: 16px;
}

.content-title h1 {
	margin-bottom: 0;
}

.uppercase {
	text-transform: uppercase;
}

.no-margin {
	margin: 0;
}

.sub-title {
	color: #ff9900;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}

.img-border {
	border: 1px solid #cccccc;
}

/* Slick Slide Carousel Override */

.slick-slide {
	height: auto;
}

/* Make a 5 Column Row */

@media only screen and (min-width: 1025px) { 
	
	.five-columns .large-2 {
		width: 20%;
	}
}

@media only screen and (min-width: 641px) {
	
	.five-columns .medium-2 {
		width: 20%;
	}
}

/* Hide on Mobile */

@media screen and (max-width: 640px) {
	
	.hide-on-mobile {
		display: none;
	}
}

/* Reveal Modal Styles */
/* ---------------------------------- */

.reveal-modal {
	/*padding-top: 56px;*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 50px 30px;
}

.reveal-modal .close-reveal-modal {
	background: url("../img/close_black_36px.svg") no-repeat top right transparent;
	display: inline-block;
	height: 36px;
	width: 36px;
	margin: 0;
	padding: 0;
	opacity: 0.2;
	position: absolute;
	top: 8px;
	right: 15px;
}

.reveal-modal .modal-img {
	text-align: center;
	margin-bottom: 1.25rem;
}

.profile-modal {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 430px auto;
	min-height: 430px;
}

.profile-modal .profile-content {
	display: inline-block;
	width: 100%;
	padding-right: 430px;
}

@media screen and (max-width: 1024px) {
	
	.profile-modal {
		background-size: 230px auto;
		min-height: 230px;
	}
	
	.profile-modal .profile-content {
		padding: 0 0 180px;
	}
}

/* Panel Styles */
/* ---------------------------------- */

.blue-panel {
	background-color: #003366;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
    padding: 20px 30px;
}

.blue-panel h1, .blue-panel h2, .blue-panel h3, .blue-panel h4, .blue-panel h5, .blue-panel h6, .blue-panel p {
	color: #ffffff;
}

.blue-panel a {
	color: #ffffff;
	text-decoration: underline;
}

.blue-panel a:hover, .blue-panel a:focus {
	color: #ffffff;
}

.orange-panel {
	background-color: #ff9900;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
    padding: 20px 30px;
}

.orange-panel h1, .orange-panel h2, .orange-panel h3, .orange-panel h4, .orange-panel h5, .orange-panel h6, .orange-panel p {
	color: #ffffff;
}

.orange-panel a {
	color: #ffffff;
}

.orange-panel a:hover, .orange-panel a:focus {
	color: #ffffff;
}

/* Button Styles */
/* ---------------------------------- */

.button, a.button {
	cursor: pointer;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 10px 18px;
	font-size: 14px;
	background-color: #ff9900;
	border: 1px solid #ff9900;
	color: #ffffff;
	transition: all 300ms ease-out;
}

.button:hover, .button:focus, a.button:hover, a.button:focus {
	background-color: #ffad33;
	border: 1px solid #ffad33;
	color: #ffffff;
}

.button-light {
	cursor: pointer;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.6;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 10px 18px;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid #ff9900;
	color: #1c1c1c;
	transition: all 300ms ease-out;
}

.button-light:hover, .button-light:focus, a.button-light:hover, a.button-light:focus {
	background-color: #ff9900;
	color: #ffffff;
}

@media screen and (max-width: 640px) {
	
	.button, .button-light {
		font-size: 14px;
		padding: 10px 14px;
	}
}

.button-large, a.button-large {
	cursor: pointer;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	margin: 0 0 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 15px;
	font-size: 16px;
	background-color: #ff9900;
	border: 1px solid #ff9900;
	color: #ffffff;
	transition: all 300ms ease-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button-large:hover, .button-large:focus, a.button-large:hover, a.button-large:focus {
	background-color: #ffad33;
	border: 1px solid #ffad33;
	color: #ffffff;
}

.button-large small, a.button-large small {
	font-size: 12px;
}

/* Live Validation */
/* ---------------------------------- */

.required {
	color: #f04124;
}

.LV_validation_message { 
	color: #f04124;
	display: block;
	margin-top: -10px;
	margin-bottom: 16px;
}

.LV_valid { 
	color: #00CC00;
	display: none;
}

.LV_invalid {
	color: #f04124;
	font-size: 10px;
}

input[type="text"].LV_invalid_field, input[type="password"].LV_invalid_field, input[type="date"].LV_invalid_field, input[type="datetime"].LV_invalid_field, input[type="datetime-local"].LV_invalid_field, input[type="month"].LV_invalid_field, input[type="week"].LV_invalid_field, input[type="email"].LV_invalid_field, input[type="number"].LV_invalid_field, input[type="search"].LV_invalid_field, input[type="tel"].LV_invalid_field, input[type="time"].LV_invalid_field, input[type="url"].LV_invalid_field, input[type="color"].LV_invalid_field, textarea.LV_invalid_field {
	border: 1px solid #f04124;
}

/* 'Share This' Button Overrides */
/* ---------------------------------- */

.social-share {
	display: inline-block;
	margin: 0 0 20px;
}

.stButton {
	display: inline-block !important;
	margin: 0 !important;
	width: 48px !important;
	float: left;
}

.stButton .stBubble {
	width: 44px !important;
	background: url("http://w.sharethis.com/share4x/images/bubble_arrow_below.png") no-repeat scroll 10px 26px transparent !important;
	height: 30px !important;
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

.stButton .stBubble_count {
	width: 28px;
	font-size: 10px !important;
	max-width: 42px !important;
	height: 25px !important;
	line-height: 25px !important;
	padding: 0px !important;
}

.stButton .st-twitter-counter,
.stButton .st-facebook-counter {
	width: 30px !important;
	background: #999 url(none) !important;
}

.stButton .st-yahoo-counter,
.stButton .st-linkedin-counter {
	width: 30px !important;
	background: #999 url(none) !important;
}

.stButton .googleplus {
	text-indent: -10000px !important;
	background: url("http://www.boozallen.com/etc/designs/boozallen/img/imported/bah-template-share-count-icons.png") no-repeat 0px -60px !important;
	width: 44px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	display: block !important;
}

.stButton .stButton_gradient {
	background: none !important;
	border: none !important;
	min-width: auto !important;
	padding: 0px !important;
}

.stButton .stFb,.stButton .stTwbutton,.stButton .stMainServices {
	padding: 0px !important;
}

.stButton .st-facebook-counter {
	background: url("http://www.boozallen.com/etc/designs/boozallen/img/imported/bah-template-share-count-icons.png") no-repeat 0px 0px !important;
	width: 44px !important;
}

.stButton .st-twitter-counter {
	background: url("http://www.boozallen.com/etc/designs/boozallen/img/imported/bah-template-share-count-icons.png") no-repeat 0px -20px !important;
	width: 44px !important;
}

.stButton .st-linkedin-counter {
	background: url("http://www.boozallen.com/etc/designs/boozallen/img/imported/bah-template-share-count-icons.png") no-repeat 0px -40px !important;
	width: 44px !important;
}

.st_facebook_vcount .stBubble {
	background: url("http://w.sharethis.com/share4x/images/Facebook_arrow_below.png") no-repeat scroll 10px 26px transparent !important;
}

/* Icons */
/* ---------------------------------- */

.contain-icon {
	background: white;
    border: 1px solid #bcbcbc;
    border-radius: 100px;
    height: 64px;
    margin: auto;
    padding: 18px 0;
    position: relative;
    text-align: center;
    top: -32px;
    width: 64px;
}

.contain-icon i {
	font-size: 30px;
	color: #bcbcbc;
}

/* People Images */
/* ---------------------------------- */

.circle-img {
	border-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    margin: 0 auto 15px;
    overflow: hidden;
    width: 154px;
	height: 154px;
}

/* Spacing */
/* ---------------------------------- */

.mb0 {
	margin-bottom: 0 !important;
}

.mb8 {
	margin-bottom: 8px;
}

.mb16 {
	margin-bottom: 16px;
}

.mb24 {
	margin-bottom: 24px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb32 {
	margin-bottom: 32px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb48 {
	margin-bottom: 48px;
}

.mb56 {
	margin-bottom: 56px;
}

.mb64 {
	margin-bottom: 64px;
}

.mb72 {
	margin-bottom: 72px;
}

.mb80 {
	margin-bottom: 80px;
}

.mb88 {
	margin-bottom: 88px;
}

.mb96 {
	margin-bottom: 96px;
}

.mb104 {
	margin-bottom: 104px;
}

.mb112 {
	margin-bottom: 112px;
}

.mb120 {
	margin-bottom: 120px;
}

.mb160 {
	margin-bottom: 160px;
}

.mt0 {
	margin-top: 0 !important;
}

.mt8 {
	margin-top: 8px;
}

.mt16 {
	margin-top: 16px;
}

.mt24 {
	margin-top: 24px;
}

.mt32 {
	margin-top: 32px;
}

.mt40 {
	margin-top: 40px;
}

.mt48 {
	margin-top: 48px;
}

.mt56 {
	margin-top: 56px;
}

.mt64 {
	margin-top: 64px;
}

.mt72 {
	margin-top: 72px;
}

.mt80 {
	margin-top: 80px;
}

.mt88 {
	margin-top: 88px;
}

.mt96 {
	margin-top: 96px;
}

.mt104 {
	margin-top: 104px;
}

.mt112 {
	margin-top: 112px;
}

.mt120 {
	margin-top: 120px;
}

.p8 {
	padding: 8px;
}

.p16 {
	padding: 16px;
}

.p24 {
	padding: 24px;
}

/* Panels */
/* ---------------------------------- */

.panel {
	padding: 30px 20px;
	background-color: #eeeeee;
	margin-bottom: 20px;
}

/* Testimonials & Quotes */
/* ---------------------------------- */

.pull-quote {
	font-size: 150px;
	line-height: 150px;
	font-weight: bold;
	font-family: "Times New Roman", Times, Georgia, serif;
}

.pull-quote + .quote {
	margin-top: -52px;
}

.panel .quote h1 {
	font-size: 36px;
}

@media screen and (max-width: 640px) {
	
	.pull-quote {
		font-size: 60px;
		line-height: 60px;
	}
	
	.quote {
		margin-top: -20px;
	}
	
	.pull-quote + .quote {
		margin-top: -20px;
	}
	
	.panel .quote h1 {
		font-size: 28px;
	}
}

/* Accordion Styles */
/* ---------------------------------- */

ul.accordion {
	border: 1px solid #dddddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
	margin: 10px 0 20px;
	overflow: hidden;
}

ul.accordion .accordion-navigation {
	background-color: #ffffff;
}

ul.accordion .accordion-navigation > a {
	background-color: #ffffff;
	padding: 12px 38px 12px 14px;
	position: relative;
	font-size: 14px;
	line-height: 1.6;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*color: #ff9900;*/
	color: #2952a3;
}

ul.accordion .accordion-navigation > a:hover {
	background-color: #ffffff;
}

.accordion .accordion-navigation.active > a {
	background-color: #ffffff;
	border-bottom: 1px solid #dddddd;
}

ul.accordion .accordion-navigation > a:after {
	background: url("../img/expand_more_black_24px.svg") no-repeat center center transparent;
	content: '';
	display: inline-block;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0.2;
	top: 50%;
	margin-top: -12px;
	right: 14px;
}

ul.accordion .accordion-navigation.active > a:after {
	background: url("../img/expand_less_black_24px.svg") no-repeat center center transparent;
}

/* Section Content Styles */
/* ---------------------------------- */

.text-content {
	position: relative;
	padding: 30px 0;
	margin: 0 auto;
	max-width: 960px;
}

.border-top {
	border-top: 2px solid #eeeeee;
	margin-top: 50px;
}

/* List Widget */
/* ---------------------------------- */

.list-widget ul {
	margin-left: 0;
	list-style: none;
}

.list-widget ul li {
	border-bottom: 1px solid #cccccc;
	padding: 6px 8px 6px 20px;
	position: relative;
}

.list-widget ul li:before {
	background: url("../img/chevron_right_blue_18px.svg") no-repeat 0 0 transparent;
	background-size: 18px 18px;
	width: 18px;
	height: 18px;
	content: '';
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 8px;
	left: 0;
}

.blue-background {
	background-color: #004580;
}

.white-text {
	color: #ffffff;
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p,
.white-text ul,
.white-text label,
.white-text small {
	color: #ffffff;
}
