/* Fonts */
/* ---------------------------------- */

@font-face {
  font-family: 'ITCFranklin';
  src: url("../fonts/ITCFranklin/regular/0abd7f14-8c3c-4155-9a09-0d9c4cedde75.eot");
  src: url("../fonts/ITCFranklin/regular/0abd7f14-8c3c-4155-9a09-0d9c4cedde75.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ITCFranklin/regular/6bc9525d-3c1f-4dbf-a165-dbfef48f568a.woff") format("woff"), 
       url("../fonts/ITCFranklin/regular/80ee6242-7f06-4662-a846-9682796a3ac4.ttf") format("truetype"), 
       url("../fonts/ITCFranklin/regular/51dff000-f25d-446b-8ca1-14b2df66b617.svg#ITCFranklin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinBold';
  src: url("../fonts/ITCFranklin/bold/89a788d9-80ed-4381-84ab-251ee93161c9.eot");
  src: url("../fonts/ITCFranklin/bold/89a788d9-80ed-4381-84ab-251ee93161c9.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/ITCFranklin/bold/3e77d886-2cf7-48f4-920e-67d26866af81.woff") format("woff"), 
       url("../fonts/ITCFranklin/bold/9068d907-49f7-45af-a2fb-265bcad4e537.ttf") format("truetype"), 
       url("../fonts/ITCFranklin/bold/8f045a5d-9fd6-4864-a449-068bbcf36c75.svg#ITCFranklinBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: white;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  line-height: 1.2;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

aside h1 {
  font-size: 2.125rem;
}
aside h2 {
  font-size: 1.6875rem;
}
aside h3 {
  font-size: 1.375rem;
}
aside h4 {
  font-size: 1.125rem;
}
aside h5 {
  font-size: 1.125rem;
}
aside h6 {
  font-size: 1rem;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #005595;
}
a:hover, a:focus {
  color: #00467c;
}

input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slick-slide {
	height: auto;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}
body {
  background-color: #005290;
}

.site-container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.row {
  max-width: 960px;
}

/* Header */
/* ---------------------------------- */

header {
	background: #003155; /* Old browsers */
	background: -moz-linear-gradient(top,  #003155 0%, #00467b 44%, #00508c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003155), color-stop(44%,#00467b), color-stop(100%,#00508c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #003155 0%,#00467b 44%,#00508c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #003155 0%,#00467b 44%,#00508c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003155 0%,#00467b 44%,#00508c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003155 0%,#00467b 44%,#00508c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003155', endColorstr='#00508c',GradientType=0 ); /* IE6-9 */
	position: relative;
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-moz-bow-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	z-index: 20;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	max-width: 960px;
	margin: 0 auto;
}

header nav {
	margin-top: -9px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header .utilities {
	text-align: right;
}

@media screen and (max-width: 1024px) {
	
	header nav {
		margin-top: 0;
	}
	
	header .utilities {
		padding: 10px 5px 5px;
	}
}

@media screen and (max-width: 640px) {
	
	header .utilities {
		padding: 0;
	}
}

/* Branding & Header Content */
/* ---------------------------------- */

.branding {
	margin: 0;
	padding: 20px 15px 15px;
}

.branding a {
	display: inline-block;
}

.header-content {
	margin: 0;
	padding: 20px 15px 15px;
	text-align: right;
}

@media screen and (max-width: 1024px) {
	
	header > .row {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 0;
	}
	
	.branding,
	.header-content {
		padding: 12px 0;
	}
	
	.branding {
		line-height: 28px;
	}
	.branding img {
		display: inline-block;
		vertical-align: middle;
	}
}

.bah-logo {
	padding: 22px 6px 0;
}

.bah-logo a {
	display: inline-block;
}

.bah-logo img {
	width: 100%;
	max-width: 250px;
}

@media screen and (max-width: 1024px) {
	
	.bah-logo {
		padding: 22px 6px 14px;
	}
}

@media screen and (max-width: 640px) {
	
	.bah-logo {
		padding: 15px 0 12px;
	}
	
	.bah-logo img {
		max-width: 190px;
	}
}

/* Connect Navigation */
/* ---------------------------------- */

.connect {
	display: inline-block;
}

.connect ul {
	margin: 0;
	padding: 6px 12px;
	list-style: none;
	color: #ffffff;
	font-size: 10px;
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
}

.connect ul li {
	display: inline-block;
	float: left;
	border-right: 1px solid #fff;
	margin: 0;
	padding: 0 5px;
}

.connect ul li:last-child {
	border-right: none;
}

.connect ul li a {
	color: #ffffff;
}

@media screen and (max-width: 1024px) {
	
	.connect {
		width: 100%;
	}
	
	.connect ul {
		padding: 8px 6px;
	}
}

@media screen and (max-width: 640px) {
	
	.connect {
		display: none;
	}
}

/* Header & Mobile Search */
/* ---------------------------------- */

.search {
	display: inline-block;
	vertical-align: top;
	padding: 2px 6px;
	margin-right: -15px;
}

.search form {
	display: inline-block;
	min-width: 354px;
}

.search .search-txt {
	font-size: 11px;
	line-height: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	margin: 0;
	padding: 0 5px;
	display: inline-block;
	float: left;
}

.search input[type="text"] {
	border: 1px solid #94a5be;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	height: 20px;
	display: inline-block;
	float: left;
	max-width: 110px;
	margin: 0;
	padding: 1px 5px;
	overflow: hidden;
}

.search select {
	border: 1px solid #94a5be;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	height: 20px;
	display: inline-block;
	float: left;
	max-width: 154px;
	margin: 0;
	padding: 1px 5px;
}

.search button.blueButton {
	background: #6998db; /* Old browsers */
	background: -moz-linear-gradient(top, #6998db 50%, #447fd3 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #6998db), color-stop(50%, #447fd3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6998db 50%, #447fd3 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6998db 50%, #447fd3 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6998db 50%, #447fd3 50%); /* IE10+ */
	background: linear-gradient(to bottom, #6998db 50%, #447fd3 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6998db', endColorstr='#447fd3',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 42px;
	-moz-border-radius: 42px;
	border-radius: 42px;
	color: #fff;
    font-family: 'ITCFranklin', Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.25px;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 1, 0.2);
	-moz-bow-shadow: 2px 4px 4px rgba(0, 0, 1, 0.2);
	box-shadow: 2px 4px 4px rgba(0, 0, 1, 0.2);
	display: inline-block;
	float: left;
	margin: 0 5px;
	padding: 2px 14px;
}

.mobile-search {
	display: none;
}

.mobile-search a {
	display: inline-block;
}

.search-icon {
	display: inline-block;
	font: normal normal normal 14px/1 'FontAwesome';
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
	padding: 15px;
}

.search-icon:before {
	content: "\f002";
}

#mobile-search {
	top: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	min-height: inherit;
	background: transparent;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#mobile-search form {
	background: #ffffff;
	padding: 30px;
}

#mobile-search .close-reveal-modal {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	line-height: 1;
	background: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	top: auto;
	right: auto;
	box-shadow: none;
	height: auto;
	font-size: inherit;
	text-align: right;
	opacity: 1;
}

#mobile-search .close-reveal-modal .search-icon {
	color: #00355f;
	background-color: #fff;
	padding: 15px;
}

@media screen and (max-width: 1024px) {
	
	.search {
		display: inline-block;
		padding: 2px 0;
		margin-right: 0;
		width: 100%;
	}
}

@media screen and (max-width: 640px) {

	.search {
		display: none;
	}
	
	.mobile-search {
		display: block;
	}
}

/* Mobile Fullscreen Navigation */
/* ---------------------------------- */

.mobile-nav {
	font-family: inherit;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #1e63b0;
	opacity: 0.9;
}

.mobile-nav li {
	list-style-type: none;
	text-align: center;
	padding: 10px;
}

.mobile-nav li a {
	font-size: 150%;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	width: 100%;
}

.mobile-nav li:first-child {
	margin-top: 60px;
}

.mobile-menu {
	display: inline-block;
}

.mobile-menu h1, .mobile-menu h2, .mobile-menu h3, .mobile-menu h4, .mobile-menu h5, .mobile-menu h6 {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	margin: 0;
	line-height: 28px;
	text-transform: uppercase;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mobile-menu h4 {
	font-size: 16px;
}

.mobile-menu-icon {
	z-index: 999;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 0 0 10px;
	padding: 0;
	width: 25px;
	height: 28px;
}

.mobile-menu-icon .menui {
	background: #ffffff;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
	/*margin-top: 10px;*/
	position: absolute;
}

.mobile-menu-icon .top-menu {
	top: 5px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
}

.mobile-menu-icon .mid-menu {
	top: 13px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
}

.mobile-menu-icon .bottom-menu {
	top: 21px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
}

.mobile-menu-icon .top-animate {
	background: #ffffff !important;
	top: 13px !important;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mobile-menu-icon .mid-animate {
	opacity: 0;
}

.mobile-menu-icon .bottom-animate {
	background: #fff !important;
	top: 13px !important;
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
}

@media screen and (max-width: 640px) {
	.mobile-menu h1, .mobile-menu h2, .mobile-menu h3, .mobile-menu h4, .mobile-menu h5, .mobile-menu h6 {
		display: none;
	}
	
	.mobile-nav li {
		padding: 8px;
	}
	
	.mobile-nav li a {
		font-size: 130%;
	}
	
	.mobile-nav li:first-child {
		margin-top: 60px;
	}
}

/* Mmenu Mobile Navigation */
/* ---------------------------------- */

.mobile-mmenu {
	display: none;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mobile-mmenu .columns {
	padding: 0;
}

.mm-menu {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.mm-header {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 10px 15px;
	background-color: #333;
	text-align: center;
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	-moz-bow-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
}

.mm-header a {
	display: inline-block;
	width: 46px;
	height: 42px;
	position: relative;
	position: absolute;
	top: 0;
	left: 0;
}

.mm-header a:before {
	position: absolute;
	top: 0;
	left: 15px;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	margin-top: -7px;
	top: 50%;
	box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
	width: 16px;
}

@media screen and (max-width: 640px) {
	
	.mobile-mmenu {
		display: block;
	}
}

/* Hero & Slide Carousel */
/* ---------------------------------- */

.hero .columns {
	padding: 0;
}

.hero > .row {
  background-color: #fff;
}

.slide-carousel {
	text-align: center;
	position: relative;
	margin-top: -5px;
}

.slide-item {
	position: relative;
}

.slide-item img {
	width: 100%;
	max-height: 380px;
}

/*
.hero {
  overflow-x: hidden;
  margin-top: -5px;
}
.hero > .row {
  background-color: #fff;
}
.hero .columns {
  padding: 0;
}
*/

.content {
  position: relative;
}

.about {
  background-color: #fff;
  padding: 30px 15px;
}
.about .r-tabs-nav .r-tabs-state-active {
  border-bottom: 3px solid #3399cc;
}
.about .r-tabs-panel {
  border-top: 1px solid #e5e5e5;
  margin-top: -1px;
}
.about .r-tabs-panel h1, .about .r-tabs-panel h2, .about .r-tabs-panel h3, .about .r-tabs-panel h4, .about .r-tabs-panel h5, .about .r-tabs-panel h6 {
  color: #3399cc;
}
.about ul.small-block-grid-5 li {
  min-height: 220px;
}

.capability-tabs {
  background-color: #03a77a;
  padding: 30px 15px;
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-bow-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}
.capability-tabs h1, .capability-tabs h2, .capability-tabs h3, .capability-tabs h4, .capability-tabs h5, .capability-tabs h6, .capability-tabs p {
  color: #fff;
}
.capability-tabs .r-tabs-nav a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.capability-tabs .r-tabs-nav a:hover,
.capability-tabs .r-tabs-nav .r-tabs-state-active a {
  -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  -moz-bow-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 640px) {
  .about {
    margin: 0;
    padding: 30px 0 0;
  }
  .about .r-tabs-anchor {
    display: inline-block;
    width: 100%;
    background-color: #ebf5fa;
    padding: 8px 10px;
    border-top: 1px solid #99cce6;
    position: relative;
    min-height: 67px;
    line-height: 50px;
  }
  .about .r-tabs-anchor .r-tabs-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    position: absolute;
    line-height: 1;
    top: 8px;
    left: 10px;
    margin: 0;
  }
  .about .r-tabs-anchor .r-tabs-header {
    display: inline-block;
    vertical-align: middle;
    color: #3399cc;
    margin-left: 60px;
  }
  .about .title {
    display: none;
  }

  .capability-tabs {
    padding: 30px 0 0;
  }
  .capability-tabs .title {
    display: none;
  }
  .capability-tabs .r-tabs-panel {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
    -moz-bow-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
  }
}
.media {
  background-color: #fff;
  padding: 30px 15px;
}

.leadership {
  background-color: #eee;
  padding: 30px 15px;
}

footer {
  background-color: #005595;
  margin: 0;
  padding: 0 0 30px;
}

@media screen and (max-width: 640px) {
  .media,
  .leadership {
    padding: 30px 0;
  }

  footer {
    padding: 25px 0 0;
  }
}
.copyright {
  display: inline-block;
  width: 100%;
  padding: 6px 0 0;
}
.copyright p {
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
}

@media screen and (max-width: 640px) {
  .copyright {
    text-align: center;
  }
  .copyright p {
    margin: 0;
    font-size: 12px;
  }
}
.footer-social-menu {
  display: inline-block;
  width: 100%;
}
.footer-social-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  display: inline-block;
}
.footer-social-menu ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.footer-social-menu ul li a {
  text-indent: -9999px;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.footer-social-menu ul li a.twitter {
  background: url("../img/bah-template-social_icons.png") no-repeat 0 -30px transparent;
}
.footer-social-menu ul li a.facebook {
  background: url("../img/bah-template-social_icons.png") no-repeat 0 0 transparent;
}
.footer-social-menu ul li a.linkedin {
  background: url("../img/bah-template-social_icons.png") no-repeat 0 -90px transparent;
}
.footer-social-menu ul li a.youtube {
  background: url("../img/bah-template-social_icons.png") no-repeat 0 -60px transparent;
}

@media screen and (max-width: 640px) {
  .footer-social-menu {
    text-align: center;
  }
  .footer-social-menu ul {
    margin: 10px 0 20px;
  }
}
.footer-sub-navigation {
  text-align: right;
  margin: 6px 0 0;
}
.footer-sub-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
  display: inline-block;
  float: right;
}
.footer-sub-navigation ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.footer-sub-navigation ul li a {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding: 0 4px;
  border-left: 1px solid #fff;
}
.footer-sub-navigation ul li:first-child a {
  border-left: none;
}

@media screen and (max-width: 640px) {
  .footer-sub-navigation {
    text-align: left;
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto;
  }
  .footer-sub-navigation ul {
    display: inline-block;
    width: 100%;
    float: left;
  }
  .footer-sub-navigation ul li {
    width: 100%;
    background-color: #00467c;
    padding: 10px 15px;
    border-top: 1px solid #005595;
  }
  .footer-sub-navigation ul li a {
    width: 100%;
    font-size: 12px;
    padding: 0;
    border-left: none;
  }
}
.mobile-nav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1e63b0;
  opacity: 0.9;
}
.mobile-nav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}
.mobile-nav li a {
  font-size: 150%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobile-nav li:first-child {
  margin-top: 60px;
}

.mobile-menu {
  display: inline-block;
}
.mobile-menu h1, .mobile-menu h2, .mobile-menu h3, .mobile-menu h4, .mobile-menu h5, .mobile-menu h6 {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin: 0;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mobile-menu h4 {
  font-size: 16px;
}

.mobile-menu-icon {
  z-index: 999;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 0 0 10px;
  padding: 0;
  width: 25px;
  height: 28px;
}
.mobile-menu-icon .menui {
  background: #ffffff;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  /*margin-top: 10px;*/
  position: absolute;
}
.mobile-menu-icon .top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
}
.mobile-menu-icon .mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
}
.mobile-menu-icon .bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
}
.mobile-menu-icon .top-animate {
  background: #ffffff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mobile-menu-icon .mid-animate {
  opacity: 0;
}
.mobile-menu-icon .bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

@media screen and (max-width: 640px) {
  .mobile-menu h1, .mobile-menu h2, .mobile-menu h3, .mobile-menu h4, .mobile-menu h5, .mobile-menu h6 {
    display: none;
  }

  .mobile-nav li {
    padding: 8px;
  }
  .mobile-nav li a {
    font-size: 130%;
  }
  .mobile-nav li:first-child {
    margin-top: 60px;
  }
}
.product-slide-carousel {
  text-align: center;
  position: relative;
}

.slide-item {
  position: relative;
}
.slide-item img {
  width: 100%;
  max-height: 380px;
}

.slide-caption {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
}
.slide-caption .row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 17px;
}
.slide-caption .columns {
  background-color: #00467f;
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 20px 20px 15px;
}
.slide-caption .columns h1, .slide-caption .columns h2, .slide-caption .columns h3, .slide-caption .columns h4, .slide-caption .columns h5, .slide-caption .columns h6 {
  color: #fff;
  line-height: 1.2;
  font-family: 'Arvo', serif;
}
.slide-caption .columns p {
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  line-height: 1;
}
.slick-dots li {
  display: inline-block;
  margin: 0;
  padding: 14px 4px 8px;
  background-color: #ffffff;
  position: relative;
}
.slick-dots li:first-child {
  padding-left: 46px;
}
.slick-dots li:first-child:before {
  content: '';
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewX(-45deg);
  transform-origin: top;
  -webkit-transform: skewX(-45deg);
  -webkit-transform-origin: 0 0;
}
.slick-dots li:last-child {
  padding-right: 46px;
}
.slick-dots li:last-child:after {
  content: '';
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  transform: skewX(45deg);
  transform-origin: top;
  -webkit-transform: skewX(45deg);
  -webkit-transform-origin: 0 0;
}
.slick-dots li button {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  outline: none;
  border: 0;
  line-height: 0;
  font-size: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.slick-dots li.slick-active button {
  background-color: #3399cc;
}

@media screen and (max-width: 640px) {
  .product-slide-carousel {
    background-color: #00467f;
  }

  .slide-caption {
    position: relative;
    top: auto;
    left: auto;
  }
  .slide-caption .row {
    padding: 0;
  }
  .slide-caption .columns {
    background-color: #00467f;
    display: inline-block;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 15px 15px 50px 15px;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-bow-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .slide-caption .columns h4 {
    font-size: 18px;
  }
  .slide-caption .columns p {
    font-size: 14px;
    line-height: 1.4;
  }
}
.sub-navigation {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.sub-navigation ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: inline-block;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  /*
  &:after {
  	content: '';
  	height: 52px;
  	width: 1000px;
  	background-color: #ffffff;
  	position: absolute;
  	top: 0;
  	right: 0;
  	margin-right: -1000px;
  }
  */
}
.sub-navigation ul:before {
  content: '';
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -50px;
  transform: skewX(45deg);
  transform-origin: top;
  -webkit-transform: skewX(45deg);
  -webkit-transform-origin: 0 0;
  z-index: -1;
}
.sub-navigation ul li {
  display: inline-block;
  margin: 0;
  padding: 0 6px;
}
.sub-navigation ul li:last-child {
  padding-right: 15px;
}
.sub-navigation ul li a {
  color: #24b7ee;
  font-family: 'Arvo', serif;
  z-index: 999;
}
.sub-navigation ul li a:hover, .sub-navigation ul li a:focus {
  color: #2e8ab8;
}

@media screen and (max-width: 640px) {
  .sub-navigation {
    display: none;
  }
}
.r-tabs {
  margin: 1.25rem 0;
}
.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
.r-tabs .r-tabs-nav a {
  display: inline-block;
}
.r-tabs .r-tabs-tab {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.r-tabs .r-tabs-panel {
  padding: 30px 15px;
  display: none;
}
.r-tabs .r-tabs-panel .r-tabs-state-active {
  display: block;
}
.r-tabs .r-tabs-panel p {
  font-size: 14px;
}
.r-tabs .r-tabs-panel p.intro-text {
  font-size: 16px;
  color: #3399cc;
}
.r-tabs .r-tabs-accordion-title {
  display: none;
}

.r-tabs-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 0.75rem;
}
.r-tabs-image img {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.r-tabs-header {
  font-family: 'Arvo', serif;
  color: #999999;
  font-size: 16px;
  line-height: 1.2;
}
.r-tabs-state-active .r-tabs-header {
  color: #3399cc;
}

.r-tabs-circle-header {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 100px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.05);
  -moz-bow-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.r-tabs-circle-header h1, .r-tabs-circle-header h2, .r-tabs-circle-header h3, .r-tabs-circle-header h4, .r-tabs-circle-header h5, .r-tabs-circle-header h6, .r-tabs-circle-header p {
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .r-tabs-image {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 640px) {
  .responsive-tabs {
    padding: 0;
  }

  .r-tabs {
    margin: 0;
  }
  .r-tabs .r-tabs-nav {
    display: none;
  }
  .r-tabs .r-tabs-panel {
    padding: 15px;
  }
  .r-tabs .r-tabs-panel p.intro-text {
    font-size: 14px;
  }
  .r-tabs .r-tabs-accordion-title {
    display: block;
  }

  .r-tabs-circle-header {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 1.2;
    -webkit-box-shadow: none;
    -moz-bow-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.media-item {
  text-align: center;
  padding: 10px;
}
.media-item a {
  display: inline-block;
}
.media-item .thumbnail {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.media-item .thumbnail img {
  display: inline-block;
  max-height: 135px;
}
.media-item .title {
  line-height: 1.2;
  color: #3399cc;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  max-width: 120px;
  font-size: 12px;
  text-transform: uppercase;
}

.media-center-carousel {
  position: relative;
  text-align: right;
  margin: 0 0 15px;
  padding: 55px 0 0;
}
.media-center-carousel .slick-prev,
.media-center-carousel .slick-next {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  height: 40px;
  width: 34px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  opacity: 0.2;
}
.media-center-carousel .slick-prev:hover,
.media-center-carousel .slick-next:hover {
  opacity: 0.3;
}
.media-center-carousel .slick-prev {
  background: url("../img/arrow-left.png") no-repeat center center transparent;
  right: 34px;
}
.media-center-carousel .slick-next {
  background: url("../img/arrow-right.png") no-repeat center center transparent;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .media-center-carousel {
    padding: 0 34px;
  }
  .media-center-carousel .slick-prev,
  .media-center-carousel .slick-next {
    top: 57px;
    z-index: 10;
  }
  .media-center-carousel .slick-prev {
    left: 0;
    right: auto;
  }
  .media-center-carousel .slick-next {
    right: 0;
  }
}
.leadership-item {
  text-align: center;
  padding: 10px;
}
.leadership-item a {
  display: inline-block;
}
.leadership-item .thumbnail {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.leadership-item .thumbnail img {
  display: inline-block;
  width: 100%;
  max-width: 140px;
}
.leadership-item .title {
  display: inline-block;
  width: 100%;
}
.leadership-item .title h1, .leadership-item .title h2, .leadership-item .title h3, .leadership-item .title h4, .leadership-item .title h5, .leadership-item .title h6 {
  line-height: 1.2;
  margin: 0;
  color: #005595;
}
.leadership-item .title p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  color: #3399cc;
}

.leadership-carousel {
  position: relative;
  text-align: right;
  margin: 0;
  padding: 0;
}
.leadership-carousel .slick-prev,
.leadership-carousel .slick-next {
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  height: 40px;
  width: 34px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  opacity: 0.2;
}
.leadership-carousel .slick-prev:hover,
.leadership-carousel .slick-next:hover {
  opacity: 0.3;
}
.leadership-carousel .slick-prev {
  background: url("../img/arrow-left.png") no-repeat center center transparent;
  right: 34px;
}
.leadership-carousel .slick-next {
  background: url("../img/arrow-right.png") no-repeat center center transparent;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .leadership-carousel {
    padding: 0 34px;
  }
  .leadership-carousel .slick-prev,
  .leadership-carousel .slick-next {
    top: 57px;
    z-index: 10;
  }
  .leadership-carousel .slick-prev {
    left: 0;
    right: auto;
  }
  .leadership-carousel .slick-next {
    right: 0;
  }
}
